:root{
    --colorBlue: rgb(8, 8, 107);
    --colorPurp: rgb(133, 16, 201);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
    display:flex;
    width: 90%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Classes */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 0 calc(20% - 20px);
    box-shadow: 0 0 10px 2px;
}

.header {
    width: 100%;
}

.topLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    font-size:large;
    padding: 10px;
    text-decoration: none;
    background-color: white;
}

.high-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--colorPurp);
    font-size: 1rem;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.start h1 {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 20px;
}

.btn-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100%;
    gap: 5%;
    margin: 20px 5px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    background-color: var(--colorBlue);
    border: 1px solid var(--colorBlue);
    color:white;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    overflow-wrap: break-word;
    padding: 5px;
}

.answer-btn {
    display: block;
    width: 35%;  
    text-align: left;
    margin-bottom: 2px;  
    padding: 10px;
}

.btn:hover {
    background-color: rgb(220, 104, 243);
}

.start-btn {
    background-color: var(--colorBlue);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.hide {
     display: none; 
} 

.hidden {
    display: none;
}

.quizQuestion {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 2%;
}

/* IDs */
#answer-buttons {
    width: 100%;
}

#highScore-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

#time-remaining {
    position: absolute;
    top: 10px;
    right: 10px;
}

#correctWrong {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    width: 60%;
    font-size: 25px;
    border-top: 1px solid gray;
    font-style: italic;
    color: gray;
}

#score-container {
    text-align: center;
}

#high-scores-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#high-scores-list li {
    font-size: 20px;
    padding: 5px;
}

#go-back-btn {
    margin: 10px;
}
#clear-scores-btn {
    margin: 10px;
}